<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-left-collapse">
            <span class="sr-only">Menu navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../{{ app.racineWeb ~ getRoute('admin.ls_homepage') }}">LokiSalle - Admin</a>
    </div>
    {% include 'includes/admin/navbar-top.html.twig' %}
    {% include 'includes/admin/navbar-left.html.twig' %}
</nav>