<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ getRoute('public.ls_homepage') }}">Lokisalle</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    Qui sommes nous
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user is defined %}
                <p class="navbar-text"><i class="fa fa-smile-o" aria-hidden="true"></i> <b>Bonjour {{ user.prenom }} {{ user.nom }}</b></p>
                {% if user.statut == 1 %}
                    <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Administration</a></li>
                {% endif %}
                <li>
                    <a href="#">
                        <span class="badge">
                            <span id="nbArticleInCart">
                                {% if panier is defined %}{{ panier|length }}{% else %}0{% endif %}
                            </span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i> Espace Membre <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if user is defined %}
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
                    {% else %}
                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
                        <li><a href="#">Inscription</a></li>
                    {% endif %}
                </ul>
            </li>

        </ul>
    </div>
</nav>