<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jerome Lelievre">
    <title>{% block title %}{% endblock title %}LokiSalle</title>

    <link href="{{ assets('external/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ assets('external/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block css %}{% endblock css %}

    <!--<script src="../web/assets/js/testAjax.js"></script>-->
    {% block js %}{% endblock js %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>