{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ assets('external/libs/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ assets('assets/css/app.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ assets('external/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ assets('external/libs/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock js %}

{% block body %}
    <div class="container">
        {% include('includes/navbar.html.twig') %}
        {% block bodyContent %}
        {% endblock bodyContent %}
    </div>
{% endblock body %}