{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ assets('assets/external/libs/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ assets('assets/css/app.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ assets('assets/external/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ assets('assets/external/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock js %}

{% block body %}
    <div class="container">
        {% include('includes/navbar.html.twig') %}
        {% block bodyContent %}
        {% endblock bodyContent %}
        <div class="row">
            <div class="col-md-12">
                <hr>
                <footer>
                    <p class="text-center">
                        <a href="#">Mentions Légales</a> |
                        <a href="#">Conditions Générales de Ventes</a>
                    </p>
                    <p class="text-center">
                        <i class="fa fa-copyright" aria-hidden="true"></i> 2017 LokiSalle. By <a href="http://jeromelelievre.fr/">Jérôme Lelievre</a>
                    </p>
                    <p class="text-center"><em>Ce site n'a aucun but commercial, il est réalisé dans le cadre d'un atelier pédagogique PHP</em></p>
                </footer>
            </div>
        </div>
    </div>
{% endblock body %}